---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -4
AlignConsecutiveAssignments:  true
AlignConsecutiveDeclarations: true
ColumnLimit: 100
CompactNamespaces: true
DerivePointerAlignment: false
IncludeCategories:
  - Regex:         '^<actl/.*\.hpp>'
    Priority:      1
  - Regex:         '^<.*\.h>'
    Priority:      2
  - Regex:         '^<.*'
    Priority:      3
IndentWidth:          4
ObjCBlockIndentWidth: 4
TabWidth:             4
...
